<section id="education">
	<div class="page-header"><h1>Education</h1></div>
  <div class="row">
  	<div class="span12">
    	<h2>
	    	<a href="http://www.umich.edu/">
	    		University of Michigan
	    	</a>
	    	<small>(Ann Arbor, MI)</small>
	    </h2>
    </div>
  </div>

  <div class="row degree">
    <div class="span10">
    	<h3>
     		Master of Science in Engineering
     		<small> Applied Electromagnetics</small>
     	</h3>
    </div>
	  <div class="span2">
  		<p class="date">Graduated 2005</p>
	  </div>
	</div>

  <div class="row degree">
  	<div class="span10">
  		<h3>
  			Bachelor of Science in Engineering
  			<small>Electrical Engineering (w/ Physics minor)</small>
  		</h3>
	  </div>
	  <div class="span2">
	    <p class="date">Graduated 2004<br />Cum Laude</p>
	  </div>
		</h3>
	</div>
	
	<div class="row">
		<div class="span9">
		  <p id="coursework">
		  	<em>Key Coursework:</em>
		  	Electromagnetics I &amp; II; Electromagnetic Theory; Numerical Electromagnetics; Antenna Theory &amp; Design; Radiowave Propagation and Link Design; Advanced Solid State Microwave Circuits; Digital Communications, Digital Signal Processing and Analysis
		  </p>
		</div>
	</div>
</section>