<section id="summary">
	<div class="page-header">
		<h1>Summary</h1>
	</div>
	<div class="row">
	  <div class="span12">
	  	<p>
		  	Interested in gaining further experience in web application and site development.  Currently developing skills in Ruby on Rails, HTML, CSS, and Javascript through personal projects.
		  </p>
		  <p>
		  	Extensive experience in the US Department of Defense contracting industry.  Strategic work experience includes management and execution on several government contracts (including seven years supporting US Navy programs) as well as several successful contract proposals.
		  </p>
		 </div>
	</div>
</section>