<!-- SUMMARY -->
<section id="summary">
	<h1>Summary</h1>
	<div class="row-fluid">
	  <div class="span10">
		  <p>
		  	Broadening experience in the defense contracting industry.  Strategic work experience includes management and execution on several government contracts (including five years supporting the 
		    <a href="http://en.wikipedia.org/wiki/Zumwalt_class">US Navy's Zumwalt class</a> developmental destroyer) as well as several successful contract proposals.
		  </p>
		 </div>
	</div>
</section>  <!-- END OF SUMMARY -->


<!-- EDUCATION -->
<section id="education">
	<h1>Education</h1>
  <div class="row-fluid">
  	<div class="span12">
	    <p class="school">
	    	<em>
	    		<a href="http://www.umich.edu/">University of Michigan</a>;
	    	</em>
	    	Ann Arbor, MI
	    </p>
	  </div>
  </div>

  <div class="row-fluid">
    <div class="span10">
     	<p class="degree">
     		<em>Master of Science in Engineering</em> - Applied Electromagnetics
     	</p>
    </div>
	  <div class="span2">
	  	<p class="degree-details">
	  		<em>Graduated 2005</em>
	  	</p>
	  </div>
	</div>

  <div class="row-fluid">
  	<div class="span10">
  		<p class="degree">
		  	<em>Bachelor of Science in Engineering</em> - Electrical Engineering (w/ Physics minor)
		  </p>
	  </div>
	  <div class="span2">
	    <p class="degree-details">
	    	<em>Graduated 2004</em><br />
	    	Cum Laude
	    </p>
	  </div>
	</div>
	
	<div class="row-fluid">
		<div class="span10">
		  <p class="key-coursework">
		  	<em>Key Coursework:</em>
		  	Electromagnetics I &amp; II; Electromagnetic Theory; Numerical Electromagnetics; Antenna Theory &amp; Design; Radiowave Propagation and Link Design; Advanced Solid State Microwave Circuits; Digital Communications, Digital Signal Processing and Analysis
		  </p>
		</div>
	</div>
</section>  <!-- END OF EDUCATION -->


<!-- EXPERIENCE -->
<section id="experience">
	<h1>Experience</h1>
	<div class="row-fluid">  <!-- EMPLOYER 1 -->
		<div class="span10">
	    <p class="employer">
	    	<em>
	    		<a href="http://www.raytheon.com/">Raytheon Integrated Defenese Systems</a>;
	    	</em>
		    San Diego, CA
	    </p>
	  </div>
	  <div class="span2">
			<p class="employer-details">2006 - Present</p>
	  </div>
	</div>

  <div class="row-fluid">  <!-- POSITION 1 -->
  	<div class="span10">
	    <p class="position">
	    	Senior Electrical Engineer II, Platform Integration (w/ DoD SECRET Clearance)
	    </p>
	  </div>
	  <div class="span2">
		  <p class="position-details">
		  	2010 - Present
	    </p>
	  </div>
	</div>
	<div class="row-fluid">
		<div class="position-highlights span10">
	    <ul>
	      <li>
	      	Control Account Manager (CAM) for Zumwalt Ship Control Systems Element.  Successfully managed the planning, execution, and reporting for all SCS hardware deliverables (over 450 end-items, ~$50M budget) by utilizing <a href="http://en.wikipedia.org/wiki/Earned_value_management">Earned Value Management System</a> (EVMS), CMMI Level 5, and <a href="http://en.wikipedia.org/wiki/Six_sigma">Raytheon Six Sigma</a> (R6σ) techniques.
	      </li>
	      <li>
	      	Supported program management by providing weekly cost and schedule analysis, quarterly Estimate at Complete (EAC) input and analysis, and ah-hoc Integrated Master Schedule baseline change requests.
	      </li>
	      <li>
	      	Obtained Raytheon EVMS Level II (Expert) certification, and Integrated Product Team Leadership training.
	      </li>
	    </ul>
		  <p>Additionally, contributed to multiple competitive proposals.</p>
		  <ul>
		  	<li>
		  		CAPTURED: Global Positioning System-based Positioning, Navigation, and Timing Service (GPNTS) program. Managed 
		  		all electrical engineering bidding.
		  	</li>
		  	<li>
		  		PENDING AWARD: Zumwalt Class Completion program. Managed all SCS bidding (engineering, supply chain, operations, quality, etc.)
		  	</li>
		  	<li>
		  		awarded: Ship to Shore Connector (SSC) program. Managed all electrical engineering bidding.
		  	</li>
		  </ul>
	  </div>
  </div>  <!-- END OF POSITION 1 -->

	<div class="row-fluid">
		<div class="span10">
	    <p class="position">  <!-- POSITION 2 -->
	    	Senior Electrical Engineer I, Platform Integration
	    </p>
	  </div>
	  <div class="span2">
	  	<p class="position-details">2008 - 2010</p>
	  </div>
	</div>

	<div class="row-fluid">
		<div class="position-highlights span10">
		  <ul>
	      <li>
	      	Electrical Hardware Lead for Zumwalt Ship Control Systems Element.  Successfully managed all electrical activities for all SCS hardware deliverables (~$5M budget.)
	      </li>
	      <li>
	      	Supported functional management by providing monthly staffing forecasts, monthly program status and issues summary, and generating department labor metrics to leverage on follow-on contract proposals (most recently awarded: Zumwalt Self Defense Test Ship, ~$1.1M electrical HW budget.)
	      </li>
	    </ul>
	  </div>
	</div>  <!-- END OF POSITION 2 -->

	<div class="row-fluid">
		<div class="span10">
	    <p class="position">  <!-- POSITION 3 -->
	    	Electrical Engineer II, Naval Platform E3
	    </p>
	  </div>
	  <div class="span2">
	  	<p class="position-details">2006 - 2008</p>
	  </div>
	</div>

	<div class="row-fluid">
		<div class="position-highlights span10">
		  <ul>
	      <li>
	      	Electromagnetic Interference/Compatibility (EMI/EMC) Engineering Lead for several government contracts (combined budget: ~$0.8M.)  Effectively managed small groups of engineers to oversee the development, analysis, and sell-off of EMI/EMP/Lightning requirements (ie., MIL-STD-461, MIL-STD-464.)
	      </li>
	      <li>
	      	Assigned ‘High Potential’ employee ranking by performing in the top 2% of salary grade.
	      </li>
	    </ul>
		</div>  <!-- END OF POSITION 3 -->
	</div>  <!-- END OF EMPLOYER 1 -->
  

	<div class="row-fluid">  <!-- EMPLOYER 2 -->
		<div class="span10">
	    <p class="employer">
	    	<em>
	    		<a href="http://www.eecs.umich.edu/RADLAB/">University of Michigan Radiation Laboratory</a>;
	    	</em>
		    Ann Arbor, MI
	    </p>
	  </div>
	  <div class="span2">
			<p class="employer-details">2004 - 2005</p>
	  </div>
	</div>

	<div class="row-fluid">
		<div class="span10">
	    <p class="position">  <!-- POSITION 1 -->
	    	Research Assistant
	    </p>
	  </div>
	  <div class="span2">
	  	<p class="position-details">Part-time</p>
	  </div>
	</div>

	<div class="row-fluid">
		<div class="position-highlights span10">
		  <ul>
	      <li>
	      	Collaborated with PhD candidate on near-field antenna characteristics study.  Research resulted in IEEE publication (Brunett, J., Ringler, R., Liepa, V.: “<a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1513561">On Measurements for EIRP Compliance of UWB Devices</a>”, The 2005 International Symposium on EMC (ISEMC.2005.1513561), Chicago, IL, August 9, 2005)
	      </li>
	      <li>
	      	Performed FCC/IC radiation compliance testing on product prototypes.  Operated a variety of typical radiation laboratory equipment including network analyzers, spectrum analyzers, oscilloscopes, calibrated horns/bi-poles, and other electrical measurement equipment.
	      </li>
	    </ul>
		</div>  <!-- END OF POSITION 1 -->
	</div>	<!-- END OF EMPLOYER 2 -->
</section>  <!-- END OF EXPERIENCE -->


<!-- SKILLS -->
<section id="skills">
	<h1>Skills Inventory</h1>
	<div class="row-fluid">
	  <div class="span3">
			<p class="category">
				<em>Management Skills</em>
			</p>
		</div>
		<div class="span9">
		  <p class="skills">
		  	EVMS Level II (Expert), IMP/IMS Development &amp; Maintenance, Raytheon Six Sigma (R6σ)
		  </p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
		 	<p class="category">
		 		<em>Software Skills</em>
		 	</p>
	 	</div>
	 	<div class="span9">
		  <p class="skills">
		  	Microsoft Project, Microsoft Office, Telelogic DOORS, Standard Bidding Tool (SBT), Matlab
		  </p>
		</div>
	</div>
</section>  <!-- END OF SKILLS -->