<div class="row">
	<div class="span10">
    <h3>
    	Research Assistant
    </h3>
  </div>
  <div class="span2">
	  <p class="date position-date">Part-time</p>
  </div>
</div>

<div class="row">
	<div class="span9 highlights">
    <ul>
      <li>
        Collaborated with PhD candidate on near-field antenna characteristics study.  Research resulted in IEEE publication (Brunett, J., Ringler, R., Liepa, V.: “<a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1513561">On Measurements for EIRP Compliance of UWB Devices</a>”, The 2005 International Symposium on EMC (ISEMC.2005.1513561), Chicago, IL, August 9, 2005)
      </li>
      <li>
        Performed FCC/IC radiation compliance testing on product prototypes.  Operated a variety of typical radiation laboratory equipment including network analyzers, spectrum analyzers, oscilloscopes, calibrated horns/bi-poles, and other electrical measurement equipment.
      </li>
    </ul>
  </div>
</div>