/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
*/

@import "bootswatch/cerulean/variables";
@import "bootstrap";
@import "bootswatch/cerulean/bootswatch";

body { padding-top: 70px; }

nav {
  ul.dropdown-menu {
    a {
      color: rgb(45,117,166);
      i { padding: 0 10px 0 0; }
    }
  }
}

section {
  padding-top: 20px;

  .section-header {
    .circle {
      background: rgba(45,117,166,1.0);
      text-align: center;
      border-radius: 100%;
      margin: 8px 0 0 15px;
      width: 56px;
      height: 56px;
      box-shadow: 1px 1px 2px 0px #E0E0E0;
    }
    img { margin: 10px 0 0 -5px; }
  }

  &#education {
    .degree, .key-coursework { padding-left: 20px; }
  }

  &#experience {
    .position, .position-highlights { padding-left: 20px; }
  }

  &#skills {
    .col-xs-3 { padding-right: 30px; }
    .col-xs-9 div.row { margin-left: 0px; }
    span#ruby {
      color: #981A21;

      img {
        position: relative;
        top: -2px;
      }
    }
  }
}
