// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/*----------- GENERAL ------------*/
body {
	background: url("background.png") 50% 0% no-repeat #12212D;
	background-attachment: fixed;
	color: white;
	font-family: "Helvetica Neue", Verdana, Geneva, Arial, sans-serif;
	font-size: smaller;

	a:link {
		color: white;
		text-decoration: underline;
	}
	a:visited {
		color: gray;
		text-decoration: underline;
	}
	h1 {
		font-size: 1.4em;
		color: white;
	}
	em {
			font-style: normal;
			font-weight: bold;
	}
}


/*----------- NAVBAR ------------*/
header {
	margin-top: 20px;
	h1 {
		font-size: 2.2em;
		color: white;
	}
	p {
		font-size: 1.1em;
		text-align: right;
	}
}


/*----------- CONTENT ------------*/
section#summary {
	p { text-align: justify; }
}

section#education {
	p.school { font-size: 1.1em; }
	p.degree {
		margin-left: 15px;
		margin-bottom: 0px;
	}
	p.degree-details { text-align: right;	}
	p.key-coursework { text-align: justify; }
}

section {
	margin-top: 20px;
}

section#experience {
	p.employer { font-size: 1.1em; }
	p.employer:nthchild(2) {
		margin-top: 20px;
	}
	p.employer-details {
		text-align: right;
		font-weight: bold;
	}
	p.position {
		font-size: 1.0em;
		font-style: italic;
		text-decoration: underline;
		margin-left: 12px;
	}
	p.position-details {
		text-align: right;
		text-decoration: underline;
	}
	li {
		text-align: justify;
		margin-left: 12px;
	}

	.position-highlights p {
		margin-left: 12px;
	}
}

section#skills {
	p.category {
		text-align: right;
		font-size: 1.1em;
	}
}


/*----------- FOOTER ------------*/
footer {

	p {
		font-size: 1.1em;
		text-align: center;
		margin-top: 20px;
	}
}