<div class="row employer">
  <div class="span10">
    <h2>
      <a href="http://www.raytheon.com/">
        Raytheon Integrated Defenese Systems
      </a>
      <small>(San Diego, CA)</small>
    </h2>
  </div>
  <div class="span2">
    <p class="date employer-date">2006 - Present</p>
  </div>
</div>

<%= render 'static_pages/employer1/position1' %>

<%= render 'static_pages/employer1/position2' %>

<%= render 'static_pages/employer1/position3' %>
