<div class="row">
	<div class="span10">
    <h3>
    	Senior Electrical Engineer II, Platform Integration
      <small>(w/ DoD SECRET Clearance)</small>
    </h3>
  </div>
  <div class="span2">
	  <p class="date position-date">2010 - Present</p>
  </div>
</div>

<div class="row">
	<div class="span9 highlights">
    <ul>
      <li>
      	Control Account Manager (CAM) for Zumwalt Ship Control Systems Element.  Successfully managed the planning, execution, and reporting for all SCS hardware deliverables (over 450 end-items, ~$50M budget) by utilizing <a href="http://en.wikipedia.org/wiki/Earned_value_management">Earned Value Management System</a> (EVMS), CMMI Level 5, and <a href="http://en.wikipedia.org/wiki/Six_sigma">Raytheon Six Sigma</a> (R6σ) techniques.
      </li>
      <li>
      	Supported program management by providing weekly cost and schedule analysis, quarterly Estimate at Complete (EAC) input and analysis, and ah-hoc Integrated Master Schedule baseline change requests.
      </li>
      <li>
      	Obtained Raytheon EVMS Level II (Expert) certification, and Integrated Product Team Leadership training.
      </li>
      <li>
        <em>Seven consecutive annual performance rankings in the top quartile of labor grade.</em>
      </li>
    </ul>

	  <p>Additionally, contributed to multiple competitive proposals.</p>
	  
	  <ul>
	  	<li>
	  		CAPTURED: Global Positioning System-based Positioning, Navigation, and Timing Service (GPNTS) program. Managed 
	  		all electrical engineering bidding.
	  	</li>
	  	<li>
	  		PENDING AWARD: Zumwalt Class Completion program. Managed all SCS bidding (engineering, supply chain, operations, quality, etc.)
	  	</li>
	  	<li>
	  		awarded: Ship to Shore Connector (SSC) program. Managed all electrical engineering bidding.
	  	</li>
	  </ul>
  </div>
</div>