<div class="row">
	<div class="span10">
    <h3>
    	Senior Electrical Engineer I, Platform Integration
    </h3>
  </div>
  <div class="span2">
  	<p class="date position-date">2008 - 2010</p>
  </div>
</div>

<div class="row">
	<div class="span9 highlights">
	  <ul>
      <li>
      	Electrical Hardware Lead for Zumwalt Ship Control Systems Element.  Successfully managed all electrical activities for all SCS hardware deliverables (~$5M budget.)
      </li>
      <li>
      	Supported functional management by providing monthly staffing forecasts, monthly program status and issues summary, and generating department labor metrics to leverage on follow-on contract proposals (most recently awarded: Zumwalt Self Defense Test Ship, ~$1.1M electrical HW budget.)
      </li>
    </ul>
  </div>
</div>