<div class="row">
	<div class="span10">
    <h3>
    	Senior Electrical Engineer II, Platform Integration
      <small>(w/ DoD SECRET Clearance)</small>
    </h3>
  </div>
  <div class="span2">
	  <p class="date position-date">2010 - Present</p>
  </div>
</div>

<div class="row">
	<div class="span9 highlights">
    <ul>
      <li>
        Integrated Product Team Lead for the <a href="http://www.defenseindustrydaily.com/Raytheons-GPNTS-for-Future-US-Navy-Nav-Systems-06992/">Global Positioning System-based Position, Timing, and Navigation System</a> program:
        <ul>
          <li>
             Leading the day-to-day operations of the hardware IPT through the procurement, transition-to-production, and Engineering Development Model production phases.
          </li>
          <li>
            Supporting program management by providing weekly <a href="http://en.wikipedia.org/wiki/Earned_value_management">Earned Value Management</a> (EVM) cost and schedule analysis, bi-monthly risk and opportunity management, and quarterly Estimate at Complete input and analysis.  Established and maintained an Integrated Master Schedule via rolling-wave planning and Baseline Change Requests.
          </li>
          <li>
            Responsible for the performance of all functional disciplines (Engineering, Supply Chain, Manufacturing, Quality, Logistics, etc.)
          </li>
        </ul>
      </li>
      <li>
        <em>
          Seven consecutive annual performance rankings in the top quartile of labor grade.
        </em>
      </li>
    </ul>

    <p>Additionally, contributed to multiple competitive proposals:</p>

    <ul>
      <li>
        CAPTURED: Global Positioning System-based Positioning, Navigation, and Timing Service program. Managed all electrical engineering bidding (created all Basis of Estimates, ensured Statement of Work compliance, lead functional management reviews, etc.)
      </li>
      <li>
        CAPTURED: Zumwalt Class Completion program. Managed SCS bidding for all functional disciplines.
      </li>
      <li>
        awarded: Ship to Shore Connector program. Managed all electrical engineering bidding.
      </li>
  </div>
</div>