<div class="row">
  <div class="span10">
    <h3>
      Electrical Engineer II, Naval Platform E3
    </h3>
  </div>
  <div class="span2">
    <p class="date position-date">2006 - 2008</p>
  </div>
</div>

<div class="row">
  <div class="span9 highlights">
    <ul>
      <li>
        Electromagnetic Interference/Compatibility (EMI/EMC) Engineering Lead
        for several government contracts (combined budget: ~$0.8M.)  Effectively
        managed small groups of engineers to oversee the development, analysis,
        and sell-off of EMI/EMP/Lightning requirements (ie., MIL-STD-461,
        MIL-STD-464.)
      </li>
      <li>
        Assigned ‘High Potential’ employee ranking by performing in the top 2%
        of salary grade.
      </li>
    </ul>
  </div>
</div>
