<div class="row">
	<div class="span10">
    <h3>
    	Senior Electrical Engineer I, Platform Integration
    </h3>
  </div>
  <div class="span2">
  	<p class="date position-date">2008 - 2010</p>
  </div>
</div>

<div class="row">
	<div class="span9 highlights">
	  <ul>
      <li>
        Control Account Manager (CAM) for Zumwalt Ship Control Systems Element.  Successfully managed the planning, execution, and reporting for all SCS hardware deliverables (over 450 end-items, ~$50M budget) by utilizing EVMS, CMMI Level 5, and <a href="http://en.wikipedia.org/wiki/Six_sigma">Raytheon Six Sigma</a> (R6σ) techniques.
      </li>
      <li>
        Obtained Raytheon EVMS Level II (Expert) certification, and Integrated Product Team Leadership training.
      </li>
    </ul>
  </div>
</div>