<div class="row">
  <div class="span10">
    <h3>
      Senior Electrical Engineer I, Platform Integration
    </h3>
  </div>
  <div class="span2">
    <p class="date position-date">2008 - 2010</p>
  </div>
</div>

<div class="row">
  <div class="span9 highlights">
    <ul>
      <li>
        Control Account Manager (CAM) for
        <a href="http://en.wikipedia.org/wiki/Zumwalt-class_destroyer">
          Zumwalt program
        </a> Ship Control Systems Element. Successfully managed the planning,
        execution, and reporting for all functional disciplines of the SCS
        element (~$6.5M annual budget; ~$50M total.)
      </li>
      <li>
        Supported multiple customer and internal audits, and sucessfully
        completed quarterly DCMA Joint Surveillance Reviews.
      </li>
      <li>
        Obtained Raytheon EVMS Level II (Expert) certification and Integrated
        Product Team Leadership training.
      </li>
    </ul>
  </div>
</div>
